root = true

# Ensure markdown files keep trailing whitespace (some renderers rely on it)
[*.md]
trim_trailing_whitespace = false

[README*.md]
trim_trailing_whitespace = false

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.bat]
end_of_line = crlf

[Makefile]
indent_style = tab
